@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #f9f5e3, #dff0df); /* Degradado aplicado */
    font-family: "Open Sans", sans-serif;
}


/* Ajuste del header */
header {
    background: linear-gradient(to bottom, #3b9e43, #b7de62);
    height: 50vh; /* Asegura que el header ocupe todo el alto de la ventana */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio uniforme entre el nav y el contenido */
    align-items: center;
    padding: 20px 0; /* Espaciado superior e inferior */
}

/* Ajuste del contenido dentro del header */
.header-content {
    width: 100%;
    max-width: 1200px;
}

/* Ajuste del nav */
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Elimina los márgenes por defecto */
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.left-menu, .right-menu {
    display: flex;
}

.left-menu li, .right-menu li {
    margin-right: 15px;
}

/* Ajuste de los títulos */
.title-section {
    text-align: center;
    margin-top: 40px; /* Añade espacio entre el nav y los títulos */
}

.title-section h2 {
    font-size: 36px;
    font-weight: bold;
}

/* Ajuste de la sub-título y logo */
.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio adicional debajo del título principal */
}

.sub-title h2 {
    font-size: 36px;
    line-height: 1.4;
    margin-right: 20px;
}

/* Ajuste del logo */
.logo {
    width: 150px; /* Tamaño del logo más pequeño para ajustarse mejor al contenido */
    height: auto;
}

.left-menu, .right-menu {
    display: flex;
}

.left-menu li, .right-menu li {
    margin-right: 15px;
}

/* Estilo para los títulos */
.title-section {
    margin-top: 20px;
}

.title-section h1 {
    font-size: 36px;
    font-weight: bold;
}

.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sub-title h2 {
    font-size: 48px;
    line-height: 1.2;
    margin-right: 20px;
}

/* Estilo para el logo */
.logo {
    width: 200px;
    height: auto;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
  }

p {
    font-family: 'Lato', sans-serif;
    color: #666666;
}

button {
    background-color: #8bc34a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
button:hover {
    background-color: #45a049;
}


#app {
    margin: 0;
    width: 100%;
}

.app {
    margin-top: 50px;
}

.home-container {
    width: 100%; /* Ocupa todo el ancho del body */
    margin: 0; /* Elimina cualquier margen */
    text-align: center; /* Mantiene el texto centrado */
    padding: 40px 20px; /* Espaciado interno */
    background: linear-gradient(to bottom, #f9f5e3, #dff0df); /* Degradado aplicado */
    border-radius: 0; /* Elimina el borde redondeado */
    box-shadow: none; /* Elimina la sombra */
}



.home-container h1 {
    color: #8bc34a; /* Color del título principal */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.home-container h2 {
    color: #333; /* Color del subtítulo */
    margin-top: 20px; /* Espacio encima del subtítulo */
    margin-bottom: 10px; /* Espacio debajo del subtítulo */
}

.home-container p {
    color: #555; /* Color del texto */
    line-height: 1.6; /* Mejorar la legibilidad del texto */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}

#home img {
    display: block;
    margin: 20px auto; /* Espacio arriba y abajo de la imagen */
}

.content {
    background-color: rgba(255, 255, 255, 0.9); /* Mayor opacidad */
    padding: 20px;
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 4px 20px rgba(2, 253, 65, 0.2); /* Sombra más pronunciada */
}

.contacto {
    background-color: rgba(98, 186, 215, 0.8);
    padding: 15px; /* Espaciado más amplio */
    text-align: center;
    border-radius: 5px; /* Bordes redondeados */
}

.contacto p {
    padding-top: 1rem;
}

.contacto .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Ajuste de margen */
}

.contacto .botones button {
    margin: 0 10px;
}

.about-container {
    width: 100%; /* Ocupa todo el ancho del body */
    margin: 0 auto; /* Centrar el contenedor */
    text-align: center; /* Centrar el texto */
    padding: 40px 20px; /* Espaciado interno: 40px arriba y abajo, 20px a los lados */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.about-container h1 {
    color: #8bc34a; /* Color del título principal */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.about-container h2 {
    color: #333; /* Color del subtítulo */
    margin-top: 20px; /* Espacio encima del subtítulo */
    margin-bottom: 10px; /* Espacio debajo del subtítulo */
}

.about-container p {
    color: #555; /* Color del texto */
    line-height: 1.6; /* Mejorar la legibilidad del texto */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}


.product {
    border: 1px solid #ddd;
    padding: 15px; /* Mayor espacio interno */
    margin: 10px;
    border-radius: 8px; /* Bordes más redondeados */
    text-align: center;
    width: auto; 
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Suavizar la animación */
    background-color: #fff; /* Color de fondo blanco para los productos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para los productos */
}

.product:hover {
    cursor: pointer;
    transform: scale(1.05); /* Un poco menos de escala para la animación */
}

.product img {
    max-width: 100%;
    height: 100px;
    object-fit: contain;
    border-radius: 5px; /* Bordes redondeados en las imágenes */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste automático para más flexibilidad */
    grid-gap: 20px; /* Mayor espacio entre productos */
}


input[type="text"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border 0.3s; /* Transición suave en el borde */
}

input[type="text"]:focus, input[type="number"]:focus {
    border: 1px solid #8bc34a; /* Cambia el color del borde al enfocar */
}

#about img {
    display: block;
    margin: 0 auto;   
}
