@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a72b2;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* Ajuste del header */
header {
    background: linear-gradient(to bottom, #1a72b2, #299dbc);
    height: 40vh; /* Asegura que el header ocupe todo el alto de la ventana */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio uniforme entre el nav y el contenido */
    align-items: center;
    padding: 20px 0; /* Espaciado superior e inferior */
}

/* Ajuste del contenido dentro del header */
.header-content {
    width: 100%;
    max-width: 1200px;
}

/* Ajuste del nav */
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Elimina los márgenes por defecto */
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.left-menu, .right-menu {
    display: flex;
}

.left-menu li, .right-menu li {
    margin-right: 15px;
}

/* Ajuste de los títulos */
.title-section {
    padding-top: 2rem;
    text-align: center;
    margin-top: 40px; /* Añade espacio entre el nav y los títulos */
}

.title-section h2 {
    font-size: 36px;
    font-weight: bold;
}

/* Ajuste de la sub-título y logo */
.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio adicional debajo del título principal */
}

.sub-title h2 {
    font-size: 36px;
    line-height: 1.4;
    margin-right: 20px;
}

/* Ajuste del logo */
.logo {
    width: 150px; /* Tamaño del logo más pequeño para ajustarse mejor al contenido */
    height: auto;
}

.logo-container {
    width: 450px; /* Ajusta el tamaño del círculo */
    height: 250px;
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Asegura que la imagen no se salga del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(255, 255, 255, 0.2); /* Añade un borde alrededor del círculo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra para darle profundidad */
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen llene completamente el círculo */
}


.left-menu, .right-menu {
    display: flex;
}

.left-menu li, .right-menu li {
    margin-right: 15px;
}

/* Estilo para los títulos */
.title-section {
    margin-top: 20px;
}

.title-section h1 {
    font-size: 36px;
    font-weight: bold;
}

.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sub-title h2 {
    font-size: 48px;
    line-height: 1.2;
    margin-right: 20px;
}

/* Estilo para el logo */
.logo {
    width: 200px;
    height: auto;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
  }

p {
    font-family: 'Lato', sans-serif;
    color: #666666;
}

button {
    background-color: #8bc34a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
button:hover {
    background-color: #45a049;
}


#app {
    flex: 1;
    margin: 0;
    width: 100%;
}

.app {
    margin-top: 50px;
}

.home-container {
    width: 100%; /* Ocupa todo el ancho del body */
    margin: 0; /* Elimina cualquier margen */
    text-align: center; /* Mantiene el texto centrado */
    padding: 40px 20px; /* Espaciado interno */
    /*background: linear-gradient(to bottom, #299dbc, #1a72b2);*/
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
    border-radius: 0; /* Elimina el borde redondeado */
    box-shadow: none; /* Elimina la sombra */
}



.home-container h1 {
    /*color: #8bc34a; /* Color del título principal */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.home-container h2 {
    color: #333; /* Color del subtítulo */
    margin-top: 20px; /* Espacio encima del subtítulo */
    margin-bottom: 10px; /* Espacio debajo del subtítulo */
}

.home-container p {
    color: #555; /* Color del texto */
    line-height: 1.6; /* Mejorar la legibilidad del texto */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}

#home img {
    display: block;
    margin: 20px auto; /* Espacio arriba y abajo de la imagen */
}

.content {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
    padding: 20px;
    text-align: center;
}



.contacto {
    /*background: linear-gradient(to bottom, #b7de62, #3b9e43 );*/
    background: linear-gradient(to bottom, #1a72b2, #299dbc);
    padding: 15px; /* Espaciado más amplio */
    text-align: center;
    border-radius: 5px; /* Bordes redondeados */
}

.contacto p {
    padding-top: 1rem;
}

.contacto .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Ajuste de margen */
}

.contacto .botones button {
    margin: 0 10px;
}

.about-container {
    width: 100%; /* Ocupa todo el ancho del body */
    margin: 0 auto; /* Centrar el contenedor */
    text-align: center; /* Centrar el texto */
    padding: 40px 20px; /* Espaciado interno: 40px arriba y abajo, 20px a los lados */
    /*background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
    /*background-color: #b7de62;*/
    /*background: linear-gradient(to bottom, #299dbc, #1a72b2);*/
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.about-container h1 {
    color: #333333; /* Color del título principal */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.about-container h2 {
    color: #333; /* Color del subtítulo */
    margin-top: 20px; /* Espacio encima del subtítulo */
    margin-bottom: 10px; /* Espacio debajo del subtítulo */
}

.about-container p {
    color: #555; /* Color del texto */
    line-height: 1.6; /* Mejorar la legibilidad del texto */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}

#about img {
    display: block;
    margin: 0 auto;   
}

.featured-products {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre los productos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a nuevas líneas */
    margin: 20px 0; /* Espacio vertical adicional */
}

.contenedor {
    border: 1px solid #ddd;
    padding: 15px; /* Mayor espacio interno */
    margin: 10px;
    border-radius: 8px; /* Bordes más redondeados */
    text-align: center;
    width: 20%; 
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Suavizar la animación */
    /*background-color: #fff; /* Color de fondo blanco para los productos */
    background: linear-gradient(to bottom, #1a72b2, #299dbc); /* Color de fondo azul/celeste para los productos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para los productos */
}

.contenedor h3 {
    color: #333;    
    margin-top: 20px;
}

.contenedor:hover {
    cursor: pointer;
    transform: scale(1.05); /* Un poco menos de escala para la animación */
}


.product {
    border: 1px solid #ddd;
    padding: 15px; /* Mayor espacio interno */
    margin: 10px;
    border-radius: 8px; /* Bordes más redondeados */
    text-align: center;
    width: auto; 
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Suavizar la animación */
    background-color: #fff; /* Color de fondo blanco para los productos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para los productos */
}

.product:hover {
    cursor: pointer;
    transform: scale(1.05); /* Un poco menos de escala para la animación */
}


.product img {
    max-width: 100%;
    height: 100px;
    object-fit: contain;
    border-radius: 5px; /* Bordes redondeados en las imágenes */
}

/*
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste automático para más flexibilidad 
    grid-gap: 20px; /* Mayor espacio entre productos 
}
*/

.product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item:hover {
    background-color: #f9f9f9;
}

.product-summary {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-weight: bold;
    text-align: center; /* Centra el texto de manera horizontal */
}

.product-summary span {
    flex: 1; /* Asegura que cada span ocupe el mismo espacio */
    text-align: center; /* Centra el texto dentro de cada span*/
}

.product-details {
    display: none; /* Oculto por defecto */
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

.product-details img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}



#admin {
    
    margin: 0 auto; /* Centra el panel horizontalmente */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar el panel */
}

#admin h1 {
    font-size: 2rem; /* Ajusta el tamaño del título */
    padding-bottom: 1rem;
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 90%; /* Reduce el ancho de los campos de entrada */
    max-width: 400px; /* Establece un ancho máximo */
    padding: 12px 20px;
    margin: 8px auto; /* Añade margen superior e inferior */
    display: block; /* Coloca los inputs en una columna */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border: 1px solid #8bc34a;
}

#admin button {
    display: block; /* Coloca el botón en una nueva línea */
    width: 90%; /* Hace que el botón tenga el mismo ancho que los inputs */
    max-width: 400px;
    padding: 12px;
    margin: 12px auto 2%; /* Centra el botón y añade margen superior */
    border: none;
    border-radius: 4px;
    background-color: #8bc34a; /* Color de fondo del botón */
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#admin button:hover {
    background-color: #7cb342; /* Color de fondo al pasar el ratón */
}

/* Oculta el panel de administración inicialmente */
#adminPanel {
    display: none;
}

/* Estilos del contenedor del formulario */
#loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-family: Arial, sans-serif;
    border: none;
}

/* Estilos del formulario */
#loginForm {
    /*background-color: white;*/
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}

/* Estilos de los campos de entrada */
#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

#loginForm input[type="text"]:focus,
#loginForm input[type="password"]:focus {
    border-color: #1e90ff;
}

/* Estilo del botón */
#loginForm button {
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #1a78d1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loginForm button:hover {
    background-color: #1a78d1;
}


/* ACA EMPIEZA EL RESPONSIVE */
@media (max-width: 768px) {
    nav li {
        display: block; /* Navegación vertical */
        margin: 10px 0; /* Espacio entre los elementos */
        
    }

    nav a {
        text-align: center;
        padding: 10px 15px;
    }

    .contenedor {
        flex: 1 1 100%; /* Un producto por fila */
    }

    header {
        height: 50vh; /* Ajuste del tamaño del header */
    }

    .header-content {
        padding: 10px; /* Menos espacio en móviles */
    }

    .title-section h2{
        font-size: 2rem;
    }

    .title-section .logo-container {
        height: auto;
    }
}

@media (max-width: 480px) {
    header {
        height: 40vh; /* Ajuste para móviles pequeños */
    }

    .title-section h2 {
        font-size: 24px; /* Tamaño de fuente más pequeño */
    }

    .botones {
        display: flex;
        flex-direction: column; /* Botones apilados */
    }

    .botones button {
        width: 100%; /* Botones ocupan todo el ancho */
        margin: 5px 0; /* Espacio entre botones */
    }
}